{% load static %}

<nav class="nav-container">
    <div>
        <a href="{% url 'main' %}">
            <i class="fa-solid fa-book"></i>
        </a>
    </div>

    <div class="flex-right">
        <div class="custom-select">
            <select class="fonts">
                <option>
                    Serif
                </option>
                <option>
                    Sans-Serif
                </option>
                <option>
                    Monospace
                </option>
            </select>
        </div>
    
        <div class="v-line"></div>

        <div class="switch-group">
            <label class="switch">
                <input class="checkbox" type="checkbox">
                <span class="slider round"></span>
            </label>
    
            <i class="fa-regular fa-moon"></i>
        </div>
    </div>


</nav>


<script src="{% static 'js/selectBar.js' %}"></script>
<script src="{% static 'js/darkMode.js' %}"></script>