<nav class="nav-container mt-3">
    <div>
        <a href="{% url 'main' %}">
            <i class="fa-solid fa-book"></i>
        </a>
    </div>

    <div class="flex-right">
        <select class="fonts">
            <option>
                Serif
            </option>
            <option>
                Sans Serif
            </option>
            <option>
                Monospace
            </option>
        </select>
        
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        <i class="fa-regular fa-moon"></i>
    </div>

</nav>